<h1>Form Id: {{ form.form_id }}</h1>

{% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>
{% endif %}

<form action="{% url 'loaders:load' form.id %}" method="post">
    {% csrf_token %}
    {% for a in form.agency_set.all %}
        <input type="radio" name="agency" id="agency{{ forloop.counter }}" value="{{ a.id }}" />
        <label for="agency{{ forloop.counter }}">{{ a.agency_id }}</label>
        <br>
    {% endfor %}
    <input type="submit" value="Agency" />
</form>
